.banner_bg_1{
    background-image: url(../img/banner/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &::before{
        content: '';
        position: absolute;
        background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4d000000',GradientType=1 ); /* IE6-9 */
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}
.banner_bg_2{
//    background: #000;
}
.banner_area{
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;

    .banner_inner{
        position: relative;
        // left: 17%;
        // @media #{$small_mobile}{
        //     left: 0%;
        //     padding-left: 30px;
        // }
        .banner_text{
            h1{
                font-size: 60px;
                font-weight: 600;
                color: $white;
                margin-bottom: 0;
                @media #{$small_mobile} {
                    font-size: 35px;
                }
                @media #{$large_mobile} {
                    font-size: 40px;
                }
            }
            h3{
                font-size:30px ;
                font-weight: 500;
                color: $white;
                margin-top: 14px;
                margin-bottom: 60px;
                @media #{$small_mobile}{
                    font-size: 20px;
                    margin-bottom: 25px;
                }
                @media #{$large_mobile}{
                    font-size: 25px;
                    margin-bottom: 30px;
                }
                b{
                    font-weight: 500;
                }
            }
        }
    }
}
.social_links{
    ul{
        display: flex;
        li{
            &:not(:last-child){
                margin-right: 15px;
            }
            a{
                width: 37px;
                height: 37px;
                border-radius: 50%;
                color: $white;
                background: $bg_color_2;
                display: inline-block;
                text-align: center;
                line-height: 37px;
                font-size: 14px;
                color: #fff;
                transition: .3s;
                &:hover{
                    background: $theme_color;
                    color: $white;
                }
            }
        }
    }
}
