.blog_area{
    background: $bark_bg_1;
    padding: 100px 0 100px 0;
    margin: 80px 50px 0 50px;
    @media #{$max_lg} {
        margin: 0;
        padding-top: 150px;
    }
    .single_blog{
        display: grid;
        grid-template-columns: 220px auto;
        grid-gap: 40px;
        border: 1px solid #2E2E2E;
        padding: 20px;
        align-items: center;
        @media #{$small_mobile} {
            grid-template-columns: repeat(1 ,1fr);
        }
        &:not(:last-child){
            margin-bottom: 50px;
        }
        .blog_thumb{
            img{
                width: 100%;
            }
        }
        .blog_content{
            h4{
                font-size: 20px;
                font-weight: 500;
                color: #ECECEC;
                margin-bottom: 0;
                &:hover{
                    color: $theme_color;
                }
            }
            p{
                font-size: 14px;
                line-height: 28px;
                color: #BEBEBE;
                margin-bottom: 24px;
                margin-top: 13px;
            }
        }
    }
}

.blog_details_area{
    background: $bark_bg_1;
    padding-top: 100px;
    margin: 80px 50px 0 50px;
    @media #{$max_lg} {
        margin: 0;
        padding-top: 150px;
    }
    .blog_details_banner{
        img{
            width: 100%;
        }
    }
    .blog_details_info{
        .blog_details_title{
            h3{
                font-size: 30px;
                font-weight: 500; 
                color: $white;
                margin-bottom: 5px;
             }
             p{
                font-size: 14px;
                font-weight: 400;
                color: #BEBEBE; 
             }
        }
        .blog_details_content{
            margin-top: 25px;
            margin-bottom: 25px;
            p{
                font-size: 16px;
                color: #BEBEBE;
                margin-bottom: 10px;
            }
        }
        .single_details_info{
            margin-bottom: 20px;
            h4{
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                color: $white;
                margin-bottom: 12px;
            }
            p{
                font-size: 16px;
                color: #BEBEBE;
                line-height: 28px;
            }
        }

    }
}
.blog_quick_social_links{
    border-top: 1px solid #2E2E2E;
    padding-top: 30px;
    margin-top: 55px;
    text-align: center;
    ul{
        li{
            display: inline-block;
            @media #{$small_mobile} {
                margin-bottom: 15px;
                margin-left: 12px;
            }
            &:not(:last-child){
                margin-right: 12px;
            }
            a{
                background: #3B5998; 
                color:#fff ; 
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 4px;
                display: inline-block;
                padding: 11px 25px 10px 25px;
                font-size: 12px;
                i{
                    margin-right: 7px;
                }
                &.twitter_bg{
                    background: #1DA1F2;
                }
                &.linkedin_bg{
                    background: #0077B5;
                }
            }
        }
    }
}