.theme_button{
    background: transparent;
    @include border-radius(4px);
    display: inline-block;
    font-size: 12px;
    color: $theme_color;
    font-weight: 600;
    padding: 15px 31px;
    border: 1px solid $theme_color;
    text-transform: uppercase;
    white-space: nowrap;
    @media #{$small_mobile} {
        padding: 12px 30px;
    }
    &:hover{
        color: $white;
        border-color: $theme_color;
        background: $theme_color ;
    }
}

.theme_button2{
    background: transparent;
    @include border-radius(4px);
    display: inline-block;
    font-size: 12px;
    color: #BEBEBE;
    font-weight: 600;
    padding: 15px 31px;
    border: 1px solid #2E2E2E;
    text-transform: uppercase;
    @media #{$small_mobile} {
        padding: 12px 30px;
    }
    &:hover{
        color: $white;
        border-color: $theme_color;
        background: $theme_color ;
    }
}
