.footer_wrapper{
    background: #000000;
    padding: 32px 0;

}
.social_media_links{
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li{
            display: inline-block;
            a{
                display: inline-block;
                font-size: 14px;
                color: #BEBEBE;
                font-weight: 400;
                border-radius: 30px;
                background: rgba(255, 255, 255,.0);
                transition: .3s;
                padding: 5px 16px;
                margin: 5px 3px;
                white-space: nowrap;
                &:hover{
                    color: #fff;
                    background: rgba(255, 255, 255,.20);
                }
            }
        }
    }
}
.social_media_links2{
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li{
            display: inline-block;
            a{
                display: inline-block;
                font-size: 14px;
                color: #BEBEBE;
                font-weight: 400;
                border-radius: 30px;
                background: rgba(255, 255, 255,.20);
                transition: .3s;
                padding: 5px 16px;
                margin: 5px 3px;
                white-space: nowrap;
                &:hover{
                    color: #fff;
                    background: $theme_color;
                }
            }
        }
    }
}