.header_area{
    padding: 20px 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    &.header_static{
        position: relative;
        padding: 0px 35px 0 35px;
        @media #{$small_mobile} {
            padding: 10px 0px;
        }
        @media #{$medium_device} {
            padding: 10px 0px;
        }
    }
    @media #{$small_mobile} {
        padding: 10px;
    }
    @media #{$medium_device} {
        padding: 30px;
    }

    .header__wrapper{
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        .header__left{
            @include flexbox();
            @include align-items(center);
            @media #{$small_mobile}{
                display: none;
            }
            @media #{$large_mobile}{
                display: none;
            }
            .menu__quick__links{
                @include flexbox();
                margin-left: 60px;
                ul{
                    @include flexbox();
                    @include align-items(center);
                    li{
                        a{
                            font-size: 14px;
                            font-weight: 500;
                            color: $white ;
                        }
                        &:not(:last-child){
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }

    .main_menu{
        @media #{'(max-width: 767.98px)'} {
            width: 100%;
        }
        .nav {
            @media #{'(max-width: 767.98px)'} {
                justify-content: center !important;
            }
            
        }
        ul{
            li{
                display: inline-block;
                position: relative;
                &:not(:last-child){
                    margin-right: 37px;
                    @media #{$small_mobile} {
                        margin-right: 15px;
                    }
                    @media #{$large_mobile} {
                        margin-right: 20px;
                    }
                }
                a{
                    color:$white;
                    font-size: 14px;
                    font-weight: 600;
                    display: inline-block;
                    text-transform: capitalize;
                    position: relative;
                    padding: 8px 0;
                    &.active,&:hover{
                        &::before{
                            opacity: 1;
                        }
                    }
                    &::before{
                        position: absolute;
                        content: '';
                        width: 100%;
                        background: $white;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        transition: .3s;
                    }
                    &:hover{
                        color: $white;
                    }
                }
                &.active a::before{
                    opacity: 1;
                }
                &:hover a::before{
                    opacity: 1;
                }
                // submenu
                .submenu{
                    width: 200px;
                    position: absolute;
                    left: 0;
                    top: 120%;
                    background: #fff;
                    text-align: left;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
                    opacity: 0;
                    visibility: hidden;
                    @include transition(.3s);
                    li{
                        display: block;
                        margin: 0;

                        a{
                            font-size: 15px;
                            line-height: 1.33;
                            color: #505050;
                            padding: 0;
                            font-weight: 400;
                            display: block;
                            margin: 0;
                            padding: 11px 20px;
                            @include transition(.3s);
                            position: relative;
                            text-transform: capitalize;
                            left: 0;
                            &:hover{
                                left: 5px;
                                color: $theme_color;
                            }
                        }
                    }
                }
                &:hover{
                    > a{
                        color: $white;
                    }
                    .submenu{
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    } 
    &.navbar_fixed {
        background: #000000;
        // padding: 20px;
        z-index: 90;
        box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
        position: fixed;
        width: 100%;
        top: -70px;
        left: 0;
        right: 0;
        transform: translateY(70px);
        transition: transform 500ms ease, background 500ms ease;
        -webkit-transition: transform 500ms ease, background 500ms ease;
        @media #{$small_mobile} {
            // padding: 10px 10px;
        }
        .main_menu{
            ul{
                li{
                    a{
                        // padding: 30px 0;
                    }
                }
            }
        }
    }
}

