.portfolio_area{
    background: $bark_bg_1;
    padding: 100px 0 100px 0;
    margin: 80px 50px 0 50px;
    @media #{$max_lg} {
        margin: 0;
        padding-top: 150px;
    }
    .single_portfolio:not(:last-child){
        margin-bottom: 70px;
        @media #{$small_mobile}{
            margin-bottom: 50px;
        }
    }
    .single_portfolio{
        .portfolio_thumb{
            img{
                width: 100%;
            }
        }
        .portfolio_content{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            @media #{$small_mobile} {
                flex-direction: column;
            }
            .portfolio_content_left{
                h2{
                    font-size: 30px;
                    color: $white;
                    font-weight:500 ;
                    margin-bottom: 12px;
                    @media #{$small_mobile}{
                        font-size: 25px;
                    }
                }
                p{
                    color: #BEBEBE;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
            .portfolio_content_right{
                @media #{$small_mobile}{
                    margin-top: 10px;
                }
                a{

                }
            }
            
        }
    }
    .load_more{
        border-top: 1px solid #2E2E2E;
        padding-top: 60px;
    }
}
.portfolio_gallery_area{
    background: $bark_bg_1;
    padding-top: 100px;
    margin: 80px 50px 0 50px;
    @media #{$max_lg} {
        margin: 0;
        padding-top: 150px;
    }
    .row .col-md-6:not(:last-child){
        margin-bottom: 50px;
        @media #{$small_mobile} {
            margin-bottom: 30px;
        }
    }
    .single_gallery{
        position: relative;
        overflow: hidden;
        .gallery_thumb{
            position: relative;
            img{
                width: 100%;
                transition: .3s;
                transform: scale(1);
            }
        }
        .gallery_hover{
            position: absolute;
            left: 0;
            top: -5px;
            background: rgba(0, 0, 0,.80);
            bottom: -5px;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(100px);
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            .gallery_hover_inner{
                max-width: 300px;
                text-align: center;
                @media #{$small_mobile} {
                    padding: 15px;
                }
                h4{
                    font-size: 20px;
                    font-weight: 500;
                    color: #ECECEC;
                    margin-bottom: 12px;
                }
                p{
                    font-size: 14px;
                    line-height: 28px;
                    color: #BEBEBE;
                }
            }
        }
        &:hover {
            .gallery_hover{
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
            .gallery_thumb {
                img{
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                    transform: scale(1.1);
                }
            }
        }

    }
}