
/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,800&display=swap');
body {
	font-family: $font1;
	font-weight: normal;
	font-style: normal;
	background: #000;
}
.img {
	max-width: 100%;
	@include transition(.3s);
}
a,
.button,
button {
@include transition(.3s);
}
a:focus,
.button:focus,button:focus {
	text-decoration: none;
	outline: none;
}
a:focus{
	text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	text-decoration: none;
	// color: #000;
}
input:focus,button:focus{
	outline: none;
}
a,
button {
	color: #fff;
	outline: medium none;
}
h1,h2,h3,h4,h5{
	font-family: $font1;
	color: #1c1c1c;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight:400;
	line-height: 28px;
	color:$text_color_1;
	margin-bottom: 13px;
	font-family: $font1;
}

label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-webkit-input-placeholder {
	color: $white;
	font-size: 14px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: $white;
	font-size: 14px;
	opacity: 1;
}
*::-ms-input-placeholder {
	color: $white;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: $white;
	font-size: 14px;
	opacity: 1;
}

/* button style */
.owl-carousel {
	.owl-nav div {
		background: transparent ;
		height: 11px;
		left: 0px;
		line-height: 11px;
		// opacity: 0;
		position: absolute;
		text-align: center;
		top: 0;
		right: 0;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		// visibility: hidden;
		width: 24px;
		font-size: 20px;
		color: #c7cfd2;
		@include border-radius(50%);
		right: 0;
		top: -100px;
		left: auto;
		@media #{$small_mobile} {
			top: -80px;
		}
	}
	.owl-nav{
		div{
			&.owl-next{
				// left: auto;
				// right: 0px;
			}
			&.owl-prev{
				left: auto;
				right: 40px;
			}
		}
	}
	&:hover{
		.owl-nav{
			div{
				opacity: 1;
				visibility: visible;
				&:hover{
					color: $theme_color;
				}
			}
		}
	}
}


.mb-85{
	margin-bottom: 85px;
	@media #{$small_mobile} {
		margin-bottom: 30px;
	}
	@media #{$medium_device} {
		margin-bottom: 30px;
	}
	@media #{$lg_device} {
		margin-bottom: 40px;
	}
}
.mb-65{
	margin-bottom: 65px;
	@media #{$small_mobile} {
		margin-bottom: 20px;
	}
}
.mt-80{
	margin-top: 80px;
}

.mb-40{
	margin-bottom: 40px !important;
}
.mb_12{
	margin-bottom: 12px;
}
.mb_20{
	margin-bottom: 20px;
}
.mb_15{
	margin-bottom: 15px;
}
.mb_25{
	margin-bottom: 25px;
}
#back-top {
    position: fixed;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
	z-index: 9999999;
	display: none;
	a {
		display: inline-block;
		height: 40px;
		width: 40px;
		text-align: center;
		display: block;
		color: #fff;
		line-height: 40px;
		background: #34D196;
		font-size: 15px;
		border-radius: 30px;
		@include transition(.3s);
		@include box-shadow(0px 10px 20px 0px rgba(52, 209, 150,.2));
		}
}


.mb_60{
	margin-bottom: 60px;
	@media #{$small_mobile} {
		margin-bottom: 35px;
	}
}
.mb_50{
	margin-bottom: 50px;
	@media #{$small_mobile} {
		margin-bottom: 30px;
	}
}

.section_padding{
	padding: 100px 0;
	@media #{$small_mobile}{
		padding: 50px 0;
	}
}
.theme_color{
	color: $theme_color;
}

// font-size 
.font_12{
	font-size: 12px;
}
.font_13{
	font-size: 13px;
}
.font_14{
	font-size: 14px;
}
.font_15{
	font-size: 15px;
}
.font_16{
	font-size: 16px;
}
.font_17{
	font-size: 17px;
}
.font_18{
	font-size: 18px;
}
.font_19{
	font-size: 19px;
}
.font_20{
	font-size: 20px;
}
.font_21{
	font-size: 21px;
}
.font_22{
	font-size: 22px;
}
.font_30{
	font-size: 30px;
}

// font-weight 
.f_w_300{
	font-weight: 300;
}
.f_w_400{
	font-weight: 400;
}
.f_w_500{
	font-weight: 500;
}
.f_w_600{
	font-weight: 600;
}
.f_w_700{
	font-weight: 700;
}
.f_w_800{
	font-weight: 800;
}

br{
	@media (max-width:991px){
		display: none;
	}
}
@media (min-width:1400px) {
	.container {
	 max-width:1310px
	}
   }


   .card-inner{
	   color: #fff;
   }

.bio_section{
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	top: 0px;
	&.banner_area {
		top: 0;
	}
	&.hidden{
		opacity: 97px;
		visibility: hidden;
		display: none !important;
	}

}

.mt-100{
	margin-top: 100px;
}
