
.verticalbar{
    background: $theme_color;
    width: 5px;
    height: 60px;
    margin-right: 20px;
}
.section_title{
    h3{
      font-size: 20px;
      font-weight: 500;
      color: $white;  
      margin-bottom: 0;
      text-transform: uppercase;
    }
}

.section_title_two{
    h3{
      font-size: 30px;
      font-weight: 500;
      color: $white;  
      margin-bottom: 0;
      text-transform: capitalize;
      margin-bottom: 15px;
    }
    p{
      font-size: 14px;
      color: #BEBEBE;
      font-weight: 400;
      line-height: 28px;
    }
}
