// fonts
$font1: 'Montserrat', sans-serif;
// theme used color here 

$heading_color_1 : #0b0b21;

$theme_color: #34D196;
$bg_color_2: #707070;

$bark_bg_1: #0C0C0C;
$bark_bg_2: #1A1A1A;

// text color 
$white:#ECECEC;
$text_color_1: #BEBEBE; 
$text_color_3: #D5D5D5;

// responsive query 
$small_mobile: '(max-width: 575.98px)';
$large_mobile: '(min-width: 576px) and (max-width: 767.98px)';
$medium_device: '(min-width: 768px) and (max-width: 991.98px) ';
$lg_device: '(min-width: 992px) and (max-width: 1199.98px)';
$xl_device: '(min-width: 1200px)';
$max_lg: '(max-width: 1199.98px)';
